
@model TaskModel
@{
    ViewData["Title"] = "Edit Task";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="@Url.Content("~/css/inputs.css")">
</head>
<body>
    <div class="theInputs">
        <h2>Edit Task</h2>
        <form asp-action="EditTask" asp-controller="Task" method="post">
            <input required asp-for="Title" placeholder="Enter task title" class="form-input" />
            <input asp-for="Id" type="hidden" />
            <input asp-for="UserId" value="@ViewBag.UserId" type="hidden" />
            <div class="radio-group">
                <p>Is completed?</p>
                <div class="radio-option">
                    <input type="radio" id="done" asp-for="Complete" value="True" />
                    <label for="done">Complete</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="notDone" asp-for="Complete" value="False" />
                    <label for="notDone">Uncomplete</label>
                </div>
            </div>
            <input type="submit" value="Save Changes" class="btn-submit" />
        </form>
    </div>
</body>
</html>